version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "daily"
      time: "08:00"
      timezone: "UTC"
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
